/** categories **/
 .ifbc-referenzen-filter.single_tags a {
 	border: none;
 	margin: 0 10px 20px 0;
 	padding: 0 5px 5px 0px;
 	border-bottom: 3px solid transparent ;
 	box-sizing: border-box;
 	height: auto;
 	line-height: 14px;
 }

 .ifbc-referenzen-filter .active, .ifbc-referenzen-filter a:hover {
  	color: #1e3487 !important;
  	background: transparent !important;
  	border-bottom: 3px solid #1e3487 !important;
  }

  .tax-portfolio_category .ifbc-referenzen-filter, .page-id-21668 .ifbc-referenzen-filter {
  		max-width: 1100px;
  }

  /** Vertical alignment **/

  .ifbc-sc-portfolio-item-wrapper {
  	width: 25%;
  	margin: 0 !important;
  	box-sizing: border-box;
  	float: left;
  	max-width: 100%;
  	margin-bottom: 25px !important;
  }

  .ifbc-sc-portfolio-item {
  	max-width: 100%;
  	width: auto;
  	height: auto;
  	margin: 0 20px 0px 0 !important;
  	box-sizing: border-box;
  }

.columns-fix {
	margin-right: -20px !important;
	overflow: hidden;
}

.ifbc-sc-portfolio-item img {
	height: 49px;
	width: auto;
}
.ifbc-sc-portfolio-item .ifbc-sc-portfolio-title .portfolio_title {
	height: 100px;
	overflow: hidden;
}


/** media queries **/
@media only screen and (max-width: 1100px) {
	.container_inner, .boxed div.section .section_inner, div.grid_section .section_inner, .full_width .parallax_content, .carousel-inner .slider_content_outer, nav.content_menu ul, .container_inner nav.content_menu, .fotter_top_border_holder.in_grid, .fotter_bottom_border_holder.in_grid {
		max-width: 1000px !important;
		width: auto !important;
		padding: 0 20px;
	}
}

@media only screen and (max-width: 1000px) {
	.content .container .container_inner.default_template_holder {
		padding: 0 20px !important;
	}
}